
Consolidate_Data.ipynb
Consolidated_NBA_Player_Log_Data.h5
Consolidated_NBA_Player_Log_Data.h5
DB_Setup.ipynb
.ipynb_checkpoints/DB_Setup-checkpoint.ipynb
Datatables/.ipynb_checkpoints/DB_Setup-checkpoint.ipynb
.ipynb_checkpoints/2019_nba_gamelogs-checkpoint.csv
.ipynb_checkpoints/2018_nba_gamelogs-checkpoint.csv
.ipynb_checkpoints/2017_nba_gamelogs-checkpoint.csv
.ipynb_checkpoints/2016_nba_gamelogs-checkpoint.csv
.ipynb_checkpoints/2016_nba_gamelogs-checkpoint.csv
.ipynb_checkpoints/2017_nba_gamelogs-checkpoint.csv
.ipynb_checkpoints/2018_nba_gamelogs-checkpoint.csv
.ipynb_checkpoints/2019_nba_gamelogs-checkpoint.csv
.ipynb_checkpoints/Basic_Game_Log_Data-checkpoint.ipynb
.ipynb_checkpoints/Fix_Single_Games-checkpoint.ipynb
.ipynb_checkpoints/Revised_Scraper-checkpoint.ipynb
*.gzip
*.log
response_adv.pkl
response_basic.pkl
